@import 'tailwindcss';

h1,
h2,
h3,
link {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p,
div {
  font-family: 'Lato', sans-serif;
  font-style: normal;
}
